.App {
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 3px 3px 5px black;
  color: #61dafb;
  transition: transform .4s;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  margin-block-start: 0px;
}

.headline {
  text-shadow: 3px 3px 5px black;
  color: #fff;
  transition: transform .4s;
}

.headline:hover {
  cursor: default;
  color: #d9ffff;
  transform: scale(0.98);
}

h1:hover {
  cursor: default;
  color: #44b5d4;
  transform: scale(0.98);
}

.appBtn {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #61dafb;
  color: #282c31;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #282c31;
  min-height: 100vh;
  display: block;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
